nav {
  display: flex;
  align-items: center;
  height: 100px;
  background: #242423;

  div {
    width: 100%;
    padding: 0 20px;

    > p {
      font-size: 38px;
      color: #f9f9f9;
      font-family: "Nunito", sans-serif;
      letter-spacing: 1px;

      > span {
        font-weight: bold;
        color: #ffc220;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  nav {
    div {
      max-width: 1000px;
      margin: 0 auto;
      padding: 0;
    }
  }
}
