footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: #242423;

  > img {
    height: 35px;
  }

  > p {
    font-size: 32px;
    color: #f9f9f9;
    font-family: "Nunito", sans-serif;
    letter-spacing: 1px;

    > span {
      font-weight: bold;
      color: #ffc220;
    }
  }
}
